@media screen and (min-width : 1500px) {
  .sample1 {
      height: 150px;
      width: 200px;
    }

    .sample2 {
      height: 100px;
      width: 200px;
    }
    .content {
      height: 700px;
      padding-top: 0;
    }

    .brand {
      padding-top: 5px;
      height: 60px;
      width: 80px;
    }
}

@media screen and (min-width : 1025px) and (max-width : 1499px){
  .content {
    height: 700px;
    padding-top: 0;
  }

  #intro {
    height: 1000px;
  }

  .sample1 {
    height: 150px;
    width: 200px;
  }

  .sample2 {
    height: 100px;
    width: 200px;
  }
  .brand {
    padding-top: 2.5px;
    height: 50px;
    width: 70px;
  }
}

@media screen and (min-width : 480px) and (max-width : 1024px) {
    .content {
      height: 1000px;
      padding-top: 0;
    }

    #intro {
      height: 1000px;
    }

    .sample1 {
      height: 150px;
      width: 200px;
    }

    .sample2 {
      height: 100px;
      width: 200px;
    }
    .brand {
      padding-top: 2.5px;
      height: 50px;
      width: 70px;
    }
}

@media screen and (min-width : 320px) and (max-width : 480px) {
    .content {
      height: 1200px;
      padding-top: 0;
    }

    #intro {
      height: 1200px;
    }

    .sample1 {
      height: 200px;
      width: 250px;
    }

    .sample2 {
      height: 150px;
      width: 250px;
    }
    .brand {
      padding-top: 2.5px;
      height: 50px;
      width: 70px;
    }

    footer {
      height: 45px;
      padding-top: 10px;
    }

    #contact {
      height: 600px;
    }
}
