<!DOCTYPE html>
<html lang="en" ng-app="portfolio">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <title>Gamaliel Padillo | Junior Web Developer | Amateur Photographer</title>

  <!-- Ico file -->
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/assets/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
  <link rel="manifest" href="/assets/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/assets/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <!-- Third Party -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/main.css">
</head>
<body ng-controller="MainController as vm" ng-cloak>
  <md-toolbar class="header">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <div hide-gt-xs show-xs flex>
          <md-button class="md-icon-button md-accent" aria-label="Settings" ng-click="vm.openSidenav()">
            <md-icon md-font-icon="fa-bars" class="fa fa-lg"></md-icon>
          </md-button>
        </div>

        <img src="assets/favicon-96x96.png" alt="faviconlogo">

        <div hide-xs show-gt-xs flex layout="row" layout-align="end center">
          <md-button  aria-label="Settings">
            About
          </md-button>
          <md-button  aria-label="Settings">
            Apps
          </md-button>
          <md-button  aria-label="Settings">
            Photography
          </md-button>
          <md-button  aria-label="Settings">
            Contact
          </md-button>
        </div>
      </div>
  </md-toolbar>
  <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="2">
    <md-toolbar layout='row' layout-align='center center'>
      <img src="assets/favicon-96x96.png" alt="faviconlogo" flex=15 ng-click="vm.closeSidenav()">
    </md-toolbar>
    <md-menu>
      <md-menu-item>
        <md-button>
          About
        </md-button>
      </md-menu-item>
      <md-divider></md-divider>
      <md-menu-item>
        <md-button>
          Apps
        </md-button>
      </md-menu-item>
      <md-divider></md-divider>
      <md-menu-item>
        <md-button>
          Photography
        </md-button>
      </md-menu-item>
      <md-divider></md-divider>
      <md-menu-item>
        <md-button>
          Contact
        </md-button>
      </md-menu-item>
      <md-divider></md-divider>
    </md-menu>
  </md-sidenav>
  <md-content>
  </md-content>
  <footer layout="row" layout-align="center center">
    <span flex>© 2016 Gamaliel Padillo</span>
  </footer>

  <!-- Third party scripts -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
  <script src="https://use.fontawesome.com/4f2463682d.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

  <!-- Custom Scripts -->
  <script src="/js/app.js"></script>
  <script src="/js/controllers/main_controller.js"></script>
</body>
</html>
